version: '3.8'

services:
  db:
    container_name: postgres_nexsa_db
    image: postgres:latest
    restart: always
    ports:
      - '${POSTGRES_PORT}:5432'
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  app:
    build:
      context: .
    ports:
      - "80:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=${NODE_ENV}
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
    networks:
      - app-network

  mailcatcher:
    image: schickling/mailcatcher
    container_name: mailcatcher-nexsa
    ports:
      - '1080:1080'
      - '1025:1025'
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-nexsa
    restart: always
    env_file:
      - .env
    ports:
      - '${PGADMIN_EXPOSED_PORT}:80'
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
